
.main {
  margin-top: 60px;
  margin-bottom: 60px;
}

.container-about {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.container-about .text {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  color: var(--four-color);
  margin-bottom: 30px;
}

.container-icons {
  display: flex;
  justify-content: center;
}

.link-icones {
  border: 1px solid var(--one-color);
  border-radius: 50%;
  /*padroniza o tamanho*/
  width: 40px;
  height: 40px;
  /*centralizar*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  text-decoration: none;
  color: var(--one-color);
}

.link-icones:hover {
  border: 1px solid white;
  color: white;
}

.link-icones i {
  font-size: 25px;
}

.about-header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
}

.about-header a {
  margin: 10px;
  padding: 10px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--primary-font);
}

.about-header a:hover {
  color: var(--one-color);
  /* color: white; */
}

.about-header a.active {
  color: var(--one-color);
}

.page-inicio .custom-container {
  text-align: center;
}

.page-inicio .custom-container img{
  max-width: 600px;
  width: 100%;
}