.content-home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-home img {
  height: 410px;
  width: 410px;
}

.title-home {
  color: var(--four-color);
  font-family: var(--primary-font);
  font-size: 25px;
  font-weight: 550;
  line-height: 27px;
  text-align: left;
}

.content-text {
  margin-left: 24px;
}

.content-text button {
  margin-top: 15px;
  background: var(--one-color);
  border: transparent;
  width: 116px;
  height: 25px;
  font-size: 10px;
  text-align: center;
  color: var(--four-color);
  border-radius: 10px;
}

.wrapper-icons-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.container-img-footer img {
  width: 72px;
  height: 62px;
}

.container-icons-home {
  display: flex;
  justify-content: right;
}

/*Mobile*/

@media (max-width: 750px) {

  .content-home {
    flex-direction: column;
  }

  .content-text {
    text-align: center;
    margin-left: 0;
  }

  .content-text button {
    margin: 24px 0 0;
  }

  .title-home {
    text-align: center;
  }

  .wrapper-icons-home {
    flex-direction: column;
    margin-top: 56px;
  }

  .container-img-footer img {
    width: 72px;
    height: 62px;
    margin-bottom: 20px;
  }
}