.container-icons-manifest {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.wrapper-button-manifest {
  display: flex;
  justify-content: center;
}

.wrapper-button-manifest a {
  padding: 5px 30px;
  background: var(--one-color);
  border-radius: 10px;
  color: var(--four-color);
  /*fonts*/
  text-align: center;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
}