.wrapper-narratives {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-narratives {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 30px;
}

.wrapper-narratives h1 {
    font-weight: 700;
    font-size: 35px;
    line-height: 145%;
    color: var(--four-color);
    margin-left: 16px;
}

.wrapper-narratives p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.59px;
    color: var(--four-color);
    text-align: center;
}

.wrapper-narratives i {
    color: var(--one-color);
}

.container-info-narratives {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.container-info-narratives h2 {
    color: var(--four-color);
    font-size: 14px;
    line-height: 50px;
    margin-right: 18px;
}

.container-info-narratives .name {
    color: var(--one-color);
}

.container-icons-narratives {
    display: flex;
    justify-content: end;
    margin-top: 91px;
}

.wrapper-narratives img {
    height: 250px;
    width: 250px;
}


.title-narratives .link-icones i {
    font-size: 15px;
}

.colunas-trabalhos .title-narratives h1{
    font-weight: 700;
    font-size: 35px;
    line-height: 145%;
    color: var(--three-color);
    margin-left: 16px;
}

.colunas-trabalhos{
    width: 320px;
    height: 405px;
    display: flex;
    flex-direction: column;
    padding: 32px;
}

.colunas-trabalhos i{
    color: var(--one-color);
}

.exposicao{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.exposicao h1{
    font-weight: 700;
    line-height: 16.59px;
    color: var(--one-color);
    padding-top: 10px;
}

.exposicao p{
    font-size: 14px;
    color: var(--three-color);
    padding-top: 10px;
}

.trabalho-um img, .trabalho-dois img, .trabalho-tres img{
    width: 300px;
    height: 230px;
    border: 0;
    border-radius: 12px;
}