.wrapper-narratives {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-narratives {
    margin-bottom: 30px;
}

.title-narratives .title-content {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 16px;
}

.title-narratives h2 {
    font-size: 24px;
    color: var(--one-color);
    text-transform: uppercase;
}

.title-narratives i.icon {
    font-size: 30px;
}

i.icon {
    color: var(--one-color);
}

.wrapper-narratives h1 {
    font-weight: 700;
    font-size: 35px;
    color: var(--four-color);
    margin-left: 16px;
}

.wrapper-narratives p {
    font-size: 16px;
    color: var(--four-color);
    line-height: 120%;
    text-align: center;
    max-width: 700px;
    width: 100%;
}

.container-info-narratives {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.container-info-narratives i.icon {
    font-size: 25px;
}

.container-info-narratives h2 {
    color: var(--four-color);
    font-size: 18px;
    margin-right: 18px;
    font-weight: 400;
}

.container-info-narratives .name {
    color: var(--one-color);
}

.container-icons-narratives {
    display: flex;
    justify-content: end;
    margin-top: 91px;
}

.wrapper-narratives img {
    height: 250px;
    width: 250px;
}


.title-narratives .link-icones i {
    font-size: 15px;
}

.colunas-trabalhos .title-narratives h1{
    font-weight: 700;
    font-size: 35px;
    line-height: 145%;
    color: var(--three-color);
    margin-left: 16px;
}

.colunas-trabalhos{
    /* display: flex;
    flex-direction: column;
    padding: 32px; */
}

.colunas-trabalhos i{
    color: var(--one-color);
}

.exposicao{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}


.exposicao h3 {
    font-weight: 700;
    line-height: 16.59px;
    color: var(--one-color);
}

.exposicao p{
    font-size: 14px;
    line-height: 130%;
    color: var(--three-color);
    padding-top: 10px;
}

.trabalho {
    max-width: 320px;
    width: 100%;
}

.exposicao .trabalho a {
    text-decoration: none;
    color: var(--one-color);
}

.trabalho img {
    border-radius: 12px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px;
}

.wrapper-content {
    max-width: 700px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.wrapper-content iframe {
    width: 49%;
    margin-bottom: 16px;
    border-radius: 20px;
    min-height: 243px;
    height: 100%;
}

.wrapper-content video {
    width: 48%;
}