.page-main {
  background-color: var(--three-color);
}

.header-bg {
  background-image: url("/assets/imgs/header.jpg");
}

/*Começo do header*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  font-family: var(--primary-font);
}

.logo {
  color: var(--two-color);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.logo span {
  color: var(--one-color);
}

.list-header {
  display: flex;
}

.list-header a {
  margin: 4px;
  padding: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: var(--four-color);
  text-decoration: none;
}

.header input {
  width: 300px;
  height: 40px;
  background-color: var(--five-color);
  border: 0;
  border-radius: 10px;
  padding-left: 16px;
  color: var(--six-color);
}

.burguer {
  display: none;
}

/*Mobile*/
@media (max-width: 750px) {
  .header {
    position: relative;
  }
  .burguer {
    color: var(--four-color);
    font-size: 30px;
    display: block;
    padding: 10px;
  }
  /*Oculta temporariamente o input*/
  .header input {
    display: none;
  }
  /*Formato do menu*/
  .nav {
    display: none;
    position: absolute;
    top: 72px;
    width: 100%;
    height: 100vh;
    padding-top: 60px;
    justify-content: center;
  }
  .list-header {
    flex-direction: column;
    align-items: center;
  }
  .list-header a {
    padding: 24px;
    margin: 24px;
  }
}
